<div id="video">
	<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
	<div id="player"></div>
	
	<div id="video-control">
		<a id="videoPlay" href="#" >Video Play</a>
		<a id="videoPause" href="#" >Video Pause</a>
		<a id="videoStop" href="#" >Video Stop</a>
		<a id="videoMute" href="#" >Video Volume Mute</a>
		<a id="videoUnmute" href="#" >Video Volume UnMute</a>
		<a id="videoVolume1" href="#" >Video Volume 1</a>
		<a id="videoVolume2" href="#" >Video Volume 2</a>
		<a id="videoVolume3" href="#" >Video Volume 3</a>
		<a id="videoFullScreen" href="#" >Video FullScreen</a>
	</div>

	<div id="video-status">
		<div id="playerStatus"></div>
		<a id="checkStatus" href="#">Check Status</a>
	</div>
</div>